﻿html, body {
	margin: 0;
	width: 100%;
	height: 100%;
	background-color: #202020;
}

h1 {
	color: #FEFEFE;
	text-align: center;
    font-family: Verdana;
}

h2 {
	color: #FEFEFE;
    font-family: Verdana;
}

a {
    color: #FEFEFE;
	text-align: center;
    font-family: Verdana;
}

#wrapper {
	width: 100%;
	height: 100%;
	position: relative;
}

#header {
	background-color:	#080808;
	color:				#FFFFFF;

	width:			100%;
    height: 70px;

	padding-top:	1px;
	padding-bottom:	5px;

	text-align:	center;

    box-shadow: 2px 2px 4px #000000;
}

#image-zone {
	position: absolute;

	top:    0;
	bottom: 80px;
	left:   0;

	width:  100%;

    min-height: 300px; /* Update with image height */
}

#contents {
	position: absolute;

	top:    70px;
	bottom: 0;
	left:   0;

	width:  100%;

    min-height: 500px;
}


#scroll {
    position: absolute;

	background-color:   #202020;
	color:				#FFFFFF;

	width:	100%;
	height: 100px;
    bottom: 0;

	text-align:	center;
}

.menu-button {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 70px;
    height: 73px;
}

.middle-text {
    position: absolute;
	left: 50%;
	top: 45%;
	transform: translate(-50%, -50%);
    color: #999999;
}

.centered-text {
    color: #999999;
    text-align: center;
    font-family: Verdana;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


#image {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

#dropzone {
    width:  550px;
    height: 400px;
    top:    55px;

    position: absolute;
	left: 50%;
    transform: translate(-50%, 0);

    border: 2px;
    border-color: #060606;
    box-shadow: 0 0 2px 2px #000000;

	background-color: #2c2c2c;
}

#upload {
    width: 550px;
    height: 150px;
    top: 470px;

    position: absolute;
	left: 50%;
	transform: translate(-50%, 0%);



    /*background-color: #900909;*/
}